RewriteEngine on
RewriteRule ^main(|/)$ main.php
RewriteRule ^perfil(|/)$ perfil.php
RewriteRule ^productos(|/)$ productos.php
RewriteRule ^index(|/)$ index.php
RewriteRule ^imagen(|/)$ imagen.php

RewriteRule ^imagen_pruebas(|/)$ imagen_pruebas.php
RewriteRule ^submit(|/)$ submit.php
RewriteRule ^register(|/)$ register.php
RewriteRule ^habbo-imaging/badge/(.*) habbo-imaging/badge.php?badge=$1
RewriteRule ^me(|/)$ me.php
RewriteRule ^profile(|/)$ profile.php
RewriteRule ^profile/(.*)$ ./profile.php?tab=$1
RewriteRule ^myinfo(|/)$ myinfo.php
RewriteRule ^debugfriends(|/)$ debugfriends.php
RewriteRule ^comunidad(|/)$ comunidad.php
RewriteRule ^toplist(|/)$ toplist.php
RewriteRule ^reglas(|/)$ reglas.php
RewriteRule ^allnews(|/)$ allnews.php
RewriteRule ^allnews/(.*)$ ./allnews.php?page=$1
RewriteRule ^articles(|/)$ articles.php
RewriteRule ^articles/(.*)$ ./articles.php?link_news=$1 [QSA]
RewriteRule ^staffs(|/)$ staffs.php
RewriteRule ^publicidad(|/)$ publicidad.php
RewriteRule ^gamesmasters(|/)$ gamesmasters.php
RewriteRule ^guias(|/)$ guias.php
RewriteRule ^colaboradores(|/)$ colaboradores.php
RewriteRule ^tienda/placas(|/)$ tienda/placas.php
RewriteRule ^catalogue/info(|/)$ catalogue/info.php
RewriteRule ^catalogue/rares(|/)$ catalogue/rares.php
RewriteRule ^catalogue/mega-rares(|/)$ catalogue/mega-rares.php
RewriteRule ^catalogue/rares-unicos(|/)$ catalogue/rares-unicos.php
RewriteRule ^catalogue/rares-ecotron(|/)$ catalogue/rares-ecotron.php
RewriteRule ^catalogue/rares-brandeds(|/)$ catalogue/rares-brandeds.php
RewriteRule ^habbo-imaging/badge/([^/]+) /habbo-imaging/badge.php?badge=$1
RewriteRule ^habbo-imaging/head/([^/]+) /habbo-imaging/head.php?figure=$1
RewriteRule ^logout(|/)$ logout.php?logout=true
RewriteRule ^forgot(|/)$ ./forgot/index.php
RewriteRule ^adblock(|/)$ ./adblock.php
RewriteRule ^hk/index(|/)$ ./hk/index.php
RewriteRule ^hk/submit(|/)$ ./hk/submit.php
RewriteRule ^hk/main(|/)$ ./hk/main.php
RewriteRule ^hk/news(|/)$ ./hk/news.php
RewriteRule ^hk/logsconsole(|/)$ hk/logsconsole.php
RewriteRule ^hk/logsconsole/(.*)$ ./hk/logsconsole.php?page=$1
RewriteRule ^hk/logs(|/)$ hk/logs.php
RewriteRule ^hk/logs/(.*)$ ./hk/logs.php?page=$1
RewriteRule ^hk/logscommands(|/)$ hk/logscommands.php
RewriteRule ^hk/logscommands/(.*)$ ./hk/logscommands.php?page=$1
RewriteRule ^hk/logschatrooms(|/)$ hk/logschatrooms.php
RewriteRule ^hk/logschatrooms/(.*)$ ./hk/logschatrooms.php?page=$1
RewriteRule ^hk/logsroomvisits(|/)$ hk/logsroomvisits.php
RewriteRule ^hk/logsroomvisits/(.*)$ ./hk/logsroomvisits.php?page=$1
RewriteRule ^hk/users(|/)$ hk/users.php
RewriteRule ^hk/users/(.*)$ ./hk/users.php?page=$1
RewriteRule ^hk/user/(.*)$ ./hk/users.php?action=edit&id=$1
RewriteRule ^hk/bans(|/)$ hk/bans.php
RewriteRule ^hk/clones(|/)$ hk/clones.php
RewriteRule ^hk/badgetools(|/)$ hk/badgetools.php
RewriteRule ^hk/changepass(|/)$ hk/changepass.php
RewriteRule ^hk/shoptools(|/)$ hk/shoptools.php
RewriteRule ^hk/catalogue(|/)$ hk/catalogue.php
RewriteRule ^hk/rank(|/)$ hk/rank.php
RewriteRule ^client(|/)$ info.php
RewriteRule ^info(|/)$ info.php
RewriteRule ^cookies(|/)$ cookies.php
ErrorDocument 401 /error.php
ErrorDocument 403 /error.php
ErrorDocument 404 /error.php
ErrorDocument 500 /error.php